name: run-on-pull-request
run-name: ${{ github.actor }}
on:
  pull_request:
    branches:
      - master
      - 'releases/**'
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        id: step1
        uses: actions/checkout@v4
      - name: Node setup
        id: step2
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: echo "${{ github.repository }} is being cloned..."
      - run: npm ci
      - run: npm test

      # add code scanning
